<div id="fb-root"></div>
	<!-- contents//end -->
<!-- floating banner -->
            <div class="floating-banner text-left hidden-sm hidden-xs">
                <!-- banner-feature -->
                <div class="banner-feature">
                    <div class="billboardNest">
                        
                    </div>
                </div>
                <!-- banner-feature//end -->
            </div>
            <!-- floating banner//end -->
            <div class="floating-banner right text-left hidden-sm hidden-xs">
                <!-- banner-feature -->
                <div class="banner-feature">
                    <div class="billboardNest">
                       
                    </div>
                </div>
                <!-- banner-feature//end -->
            </div>
            <!-- floating banner//end -->

        <!-- footer -->
        <footer>

            <strong>MORE INFORMATION</strong>
            <ul class="secondNav list-unstyled clearfix">
                 <li><a href="/boom/company">페이붐소개</a></li>
                <li><a href="/boom/clause">이용약관,개인정보 취급방침</a></li>
                <li><a href="/boom/marketing">제휴,광고 문의</a></li>
            </ul>
           <p>페이붐 | 사업자번호 : 567-38-00035 | 신고기관명 : 서울시 영등포구 | 주소 : 서울시 영등포구 당산동6가 237-34 B2-201 <br />
            페이붐 webmaster@payboom.co.kr  </p>

<!--
            <strong>PAYBOOM</strong>
            <p>ADD | #294-17 3F, BUKGAJWA-DONG, SEODAEMUN-GU SEOUL, REPUBLIC OF KOREA TEL | 02-6082-1418 FAX | 02-6339-1418 E.MAIL | webmaster@payboom.co.kr <br />COMPANY LICENSE  - </p>
-->
            <p>COPYRIGHT(C) 2015 PAYBOOM ALL RIGHTS RESERVED.</p>


            <strong>PARTNERSHIP</strong>
            <ul class="partnership list-unstyled clearfix">
            
            </ul>

        </footer>
        <!-- footer//end -->
    </div>
    <!-- container//end -->
</div>
<!-- viewport//end -->



<!-- sample modal content -->
          

<div id="divAlarmfriend" class="layer-alarmInfo" style="display:none;position:absolute;"></div>
<div id="divAlarmmessage" class="layer-alarmInfo" style="display:none;position:absolute;"></div>
<div id="divAlarmalarm" class="layer-alarmInfo" style="display:none;position:absolute;"></div>
<div id="dark" style="display:none;background:#000;position:absolute;z-index:20000;"></div>
<div id="photoview" style="display:none;position:absolute;z-index:20001;left:0px;top:0px;"></div>
<!--<script src="/boom/layouts/user_layout/js/vendor/jquery-1.11.1.min.js"></script>-->


<script src="/boom/layouts/user_layout/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="/boom/layouts/user_layout/js/plugins.js"></script>
<script type="text/javascript" src="/boom/layouts/user_layout/js/main.js"></script>