							<div class="lnb_section">
								<div class="widgetDW_sub" cond="$layout_info->ec_style1||$layout_info->ec_widget1">
									<h2 cond="$layout_info->ec_title1" class="h2_widget_sub">
										<span>{$layout_info->ec_title1}</span>
										<a class="h2_widget_a" href="{$layout_info->ec_url1}"><span>more</span><i class="fa fa18 fa-plus"></i></a>
									</h2>
									<div class="in_widget">
										<block cond="$layout_info->ec_style1=='A'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid1}"  list_count="{$layout_info->ec_list1}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+21}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style1=='AA'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="comment" module_srls="{$layout_info->ec_mid1}"  list_count="{$layout_info->ec_list1}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+21}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style1=='B'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid1}" list_type="gallery" tab_type="none" widget_sequence="{$layout_info->so_widget+21}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list1}" cols_list_count="2" page_count="1" subject_cut_size="18" content_cut_size="50" option_view="title,thumbnail" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="115" thumbnail_height="80" />
										</block>
										<block cond="$layout_info->ec_style1=='C'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid1}" list_type="image_title" tab_type="none" widget_sequence="{$layout_info->so_widget+21}" widget_cache="1" markup_type="list" list_count="{$layout_info->ec_list1}" page_count="1" subject_cut_size="40" content_cut_size="200" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="240" thumbnail_height="140" />
										</block>
										<block cond="$layout_info->ec_style1=='D'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid1}" list_type="image_title_content" tab_type="none" widget_sequence="{$layout_info->so_widget+21}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list1}" page_count="1" subject_cut_size="20" content_cut_size="35" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="80" thumbnail_height="60" />
										</block>
										<block cond="$layout_info->ec_style1=='E'">
										<img class="zbxe_widget_output" widget="treasurej_popular" skin="doorweb" tab_view="newestd,newestc" option_view="title" module_srls="{$layout_info->ec_mid1}" clist_count="{$layout_info->ec_list1}" list_count="{$layout_info->ec_list1}" subject_cut_size="40" comment_cut_size="40" />
										</block>
										<div cond="$layout_info->ec_widget1">{$layout_info->ec_widget1}</div>
									</div>
								</div>
								<div class="widgetDW_sub" cond="$layout_info->ec_style2||$layout_info->ec_widget2">
									<h2 cond="$layout_info->ec_title2" class="h2_widget_sub">
										{$layout_info->ec_title2}
										<a class="h2_widget_a" href="{$layout_info->ec_url2}"><span>more</span><i class="fa fa18 fa-plus"></i></a>
									</h2>
									<div class="in_widget">
										<block cond="$layout_info->ec_style2=='A'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid2}"  list_count="{$layout_info->ec_list2}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+22}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style2=='AA'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="comment" module_srls="{$layout_info->ec_mid2}"  list_count="{$layout_info->ec_list2}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+22}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style2=='B'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid2}" list_type="gallery" tab_type="none" widget_sequence="{$layout_info->so_widget+22}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list2}" cols_list_count="2" page_count="1" subject_cut_size="18" content_cut_size="50" option_view="title,thumbnail" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="115" thumbnail_height="80" />
										</block>
										<block cond="$layout_info->ec_style2=='C'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid2}" list_type="image_title" tab_type="none" widget_sequence="{$layout_info->so_widget+22}" widget_cache="1" markup_type="list" list_count="{$layout_info->ec_list2}" page_count="1" subject_cut_size="40" content_cut_size="200" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="240" thumbnail_height="140" />
										</block>
										<block cond="$layout_info->ec_style2=='D'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid2}" list_type="image_title_content" tab_type="none" widget_sequence="{$layout_info->so_widget+22}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list2}" page_count="1" subject_cut_size="20" content_cut_size="35" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="80" thumbnail_height="60" />
										</block>
										<block cond="$layout_info->ec_style2=='E'">
										<img class="zbxe_widget_output" widget="treasurej_popular" skin="doorweb" tab_view="newestd,newestc" option_view="title" module_srls="{$layout_info->ec_mid2}" clist_count="{$layout_info->ec_list2}" list_count="{$layout_info->ec_list2}" subject_cut_size="40" comment_cut_size="40" />
										</block>
										<div cond="$layout_info->ec_widget2">{$layout_info->ec_widget2}</div>
									</div>
								</div>

								<div class="widgetDW_sub" cond="$layout_info->ec_style3||$layout_info->ec_widget3">
									<h2 cond="$layout_info->ec_title3" class="h2_widget_sub">
										{$layout_info->ec_title3}
										<a class="h2_widget_a" href="{$layout_info->ec_url3}"><span>more</span><i class="fa fa18 fa-plus"></i></a>
									</h2>
									<div class="in_widget">
										<block cond="$layout_info->ec_style3=='A'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid3}"  list_count="{$layout_info->ec_list3}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+23}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style3=='AA'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="comment" module_srls="{$layout_info->ec_mid3}"  list_count="{$layout_info->ec_list3}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+23}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style3=='B'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid3}" list_type="gallery" tab_type="none" widget_sequence="{$layout_info->so_widget+23}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list3}" cols_list_count="2" page_count="1" subject_cut_size="18" content_cut_size="50" option_view="title,thumbnail" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="115" thumbnail_height="80" />
										</block>
										<block cond="$layout_info->ec_style3=='C'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid3}" list_type="image_title" tab_type="none" widget_sequence="{$layout_info->so_widget+23}" widget_cache="1" markup_type="list" list_count="{$layout_info->ec_list3}" page_count="1" subject_cut_size="40" content_cut_size="200" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="240" thumbnail_height="140" />
										</block>
										<block cond="$layout_info->ec_style3=='D'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid3}" list_type="image_title_content" tab_type="none" widget_sequence="{$layout_info->so_widget+23}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list3}" page_count="1" subject_cut_size="20" content_cut_size="35" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="80" thumbnail_height="60" />
										</block>
										<block cond="$layout_info->ec_style3=='E'">
										<img class="zbxe_widget_output" widget="treasurej_popular" skin="doorweb" tab_view="newestd,newestc" option_view="title" module_srls="{$layout_info->ec_mid3}" clist_count="{$layout_info->ec_list3}" list_count="{$layout_info->ec_list3}" subject_cut_size="40" comment_cut_size="40" />
										</block>
										<div cond="$layout_info->ec_widget3">{$layout_info->ec_widget3}</div>
									</div>
								</div>

								<div class="widgetDW_sub" cond="$layout_info->ec_style4||$layout_info->ec_widget4">
									<h2 cond="$layout_info->ec_title4" class="h2_widget_sub">
										{$layout_info->ec_title4}
										<a class="h2_widget_a" href="{$layout_info->ec_url4}"><span>more</span><i class="fa fa18 fa-plus"></i></a>
									</h2>
									<div class="in_widget">
										<block cond="$layout_info->ec_style4=='A'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid4}"  list_count="{$layout_info->ec_list4}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+24}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style4=='AA'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="comment" module_srls="{$layout_info->ec_mid4}"  list_count="{$layout_info->ec_list4}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+24}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style4=='B'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid4}" list_type="gallery" tab_type="none" widget_sequence="{$layout_info->so_widget+24}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list4}" cols_list_count="2" page_count="1" subject_cut_size="18" content_cut_size="50" option_view="title,thumbnail" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="115" thumbnail_height="80" />
										</block>
										<block cond="$layout_info->ec_style4=='C'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid4}" list_type="image_title" tab_type="none" widget_sequence="{$layout_info->so_widget+24}" widget_cache="1" markup_type="list" list_count="{$layout_info->ec_list4}" page_count="1" subject_cut_size="40" content_cut_size="200" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="240" thumbnail_height="140" />
										</block>
										<block cond="$layout_info->ec_style4=='D'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid4}" list_type="image_title_content" tab_type="none" widget_sequence="{$layout_info->so_widget+24}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list4}" page_count="1" subject_cut_size="20" content_cut_size="35" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="80" thumbnail_height="60" />
										</block>
										<block cond="$layout_info->ec_style4=='E'">
										<img class="zbxe_widget_output" widget="treasurej_popular" skin="doorweb" tab_view="newestd,newestc" option_view="title" module_srls="{$layout_info->ec_mid4}" clist_count="{$layout_info->ec_list4}" list_count="{$layout_info->ec_list4}" subject_cut_size="40" comment_cut_size="40" />
										</block>
										<div cond="$layout_info->ec_widge4">{$layout_info->ec_widget4}</div>
									</div>
								</div>

								<div class="widgetDW_sub" cond="$layout_info->ec_style5||$layout_info->ec_widget5">
									<h2 cond="$layout_info->ec_title5" class="h2_widget_sub">
										{$layout_info->ec_title5}
										<a class="h2_widget_a" href="{$layout_info->ec_url5}"><span>more</span><i class="fa fa18 fa-plus"></i></a>
									</h2>
									<div class="in_widget">
										<block cond="$layout_info->ec_style5=='A'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid5}"  list_count="{$layout_info->ec_list5}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+25}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style5=='AA'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="comment" module_srls="{$layout_info->ec_mid5}"  list_count="{$layout_info->ec_list5}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+25}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style5=='B'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid5}" list_type="gallery" tab_type="none" widget_sequence="{$layout_info->so_widget+25}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list5}" cols_list_count="2" page_count="1" subject_cut_size="18" content_cut_size="50" option_view="title,thumbnail" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="115" thumbnail_height="80" />
										</block>
										<block cond="$layout_info->ec_style5=='C'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid5}" list_type="image_title" tab_type="none" widget_sequence="{$layout_info->so_widget+25}" widget_cache="1" markup_type="list" list_count="{$layout_info->ec_list5}" page_count="1" subject_cut_size="40" content_cut_size="200" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="240" thumbnail_height="140" />
										</block>
										<block cond="$layout_info->ec_style5=='D'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid5}" list_type="image_title_content" tab_type="none" widget_sequence="{$layout_info->so_widget+25}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list5}" page_count="1" subject_cut_size="20" content_cut_size="35" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="80" thumbnail_height="60" />
										</block>
										<block cond="$layout_info->ec_style5=='E'">
										<img class="zbxe_widget_output" widget="treasurej_popular" skin="doorweb" tab_view="newestd,newestc" option_view="title" module_srls="{$layout_info->ec_mid5}" clist_count="{$layout_info->ec_list5}" list_count="{$layout_info->ec_list5}" subject_cut_size="40" comment_cut_size="40" />
										</block>
										<div cond="$layout_info->ec_widget5">{$layout_info->ec_widget5}</div>
									</div>
								</div>

								<div class="widgetDW_sub" cond="$layout_info->ec_style6||$layout_info->ec_widget6">
									<h2 cond="$layout_info->ec_title6" class="h2_widget_sub">
										{$layout_info->ec_title6}
										<a class="h2_widget_a" href="{$layout_info->ec_url6}"><span>more</span><i class="fa fa18 fa-plus"></i></a>
									</h2>
									<div class="in_widget">
										<block cond="$layout_info->ec_style6=='A'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid6}"  list_count="{$layout_info->ec_list6}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+26}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style6=='AA'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="comment" module_srls="{$layout_info->ec_mid6}"  list_count="{$layout_info->ec_list6}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+26}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style6=='B'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid6}" list_type="gallery" tab_type="none" widget_sequence="{$layout_info->so_widget+26}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list6}" cols_list_count="2" page_count="1" subject_cut_size="18" content_cut_size="50" option_view="title,thumbnail" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="115" thumbnail_height="80" />
										</block>
										<block cond="$layout_info->ec_style6=='C'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid6}" list_type="image_title" tab_type="none" widget_sequence="{$layout_info->so_widget+26}" widget_cache="1" markup_type="list" list_count="{$layout_info->ec_list6}" page_count="1" subject_cut_size="40" content_cut_size="200" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="240" thumbnail_height="140" />
										</block>
										<block cond="$layout_info->ec_style6=='D'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid6}" list_type="image_title_content" tab_type="none" widget_sequence="{$layout_info->so_widget+26}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list6}" page_count="1" subject_cut_size="20" content_cut_size="35" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="80" thumbnail_height="60" />
										</block>
										<block cond="$layout_info->ec_style6=='E'">
										<img class="zbxe_widget_output" widget="treasurej_popular" skin="doorweb" tab_view="newestd,newestc" option_view="title" module_srls="{$layout_info->ec_mid6}" clist_count="{$layout_info->ec_list6}" list_count="{$layout_info->ec_list6}" subject_cut_size="40" comment_cut_size="40" />
										</block>
										<div cond="$layout_info->ec_widget6">{$layout_info->ec_widget6}</div>
									</div>
								</div>

								<div class="widgetDW_sub" cond="$layout_info->ec_style7||$layout_info->ec_widget7">
									<h2 cond="$layout_info->ec_title7" class="h2_widget_sub">
										{$layout_info->ec_title7}
										<a class="h2_widget_a" href="{$layout_info->ec_url7}"><span>more</span><i class="fa fa18 fa-plus"></i></a>
									</h2>
									<div class="in_widget">
										<block cond="$layout_info->ec_style7=='A'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid7}"  list_count="{$layout_info->ec_list7}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+27}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style7=='AA'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="comment" module_srls="{$layout_info->ec_mid7}"  list_count="{$layout_info->ec_list7}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+27}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style7=='B'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid7}" list_type="gallery" tab_type="none" widget_sequence="{$layout_info->so_widget+27}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list7}" cols_list_count="2" page_count="1" subject_cut_size="18" content_cut_size="50" option_view="title,thumbnail" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="115" thumbnail_height="80" />
										</block>
										<block cond="$layout_info->ec_style7=='C'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid7}" list_type="image_title" tab_type="none" widget_sequence="{$layout_info->so_widget+27}" widget_cache="1" markup_type="list" list_count="{$layout_info->ec_list7}" page_count="1" subject_cut_size="40" content_cut_size="200" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="240" thumbnail_height="140" />
										</block>
										<block cond="$layout_info->ec_style7=='D'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid7}" list_type="image_title_content" tab_type="none" widget_sequence="{$layout_info->so_widget+27}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list7}" page_count="1" subject_cut_size="20" content_cut_size="35" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="80" thumbnail_height="60" />
										</block>
										<block cond="$layout_info->ec_style7=='E'">
										<img class="zbxe_widget_output" widget="treasurej_popular" skin="doorweb" tab_view="newestd,newestc" option_view="title" module_srls="{$layout_info->ec_mid7}" clist_count="{$layout_info->ec_list7}" list_count="{$layout_info->ec_list7}" subject_cut_size="40" comment_cut_size="40" />
										</block>
										<div cond="$layout_info->ec_widget7">{$layout_info->ec_widget7}</div>
									</div>
								</div>

								<div class="widgetDW_sub" cond="$layout_info->ec_style8||$layout_info->ec_widget8">
									<h2 cond="$layout_info->ec_title8" class="h2_widget_sub">
										{$layout_info->ec_title8}
										<a class="h2_widget_a" href="{$layout_info->ec_url8}"><span>more</span><i class="fa fa18 fa-plus"></i></a>
									</h2>
									<div class="in_widget">
										<block cond="$layout_info->ec_style8=='A'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid8}"  list_count="{$layout_info->ec_list8}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+28}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style8=='AA'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="comment" module_srls="{$layout_info->ec_mid8}"  list_count="{$layout_info->ec_list8}" list_type="normal" subject_cut_size="40" tab_type="none" widget_sequence="{$layout_info->so_widget+28}" widget_cache="1" markup_type="list" page_count="1" content_cut_size="30" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
										</block>
										<block cond="$layout_info->ec_style8=='B'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid8}" list_type="gallery" tab_type="none" widget_sequence="{$layout_info->so_widget+28}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list8}" cols_list_count="2" page_count="1" subject_cut_size="18" content_cut_size="50" option_view="title,thumbnail" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="115" thumbnail_height="80" />
										</block>
										<block cond="$layout_info->ec_style8=='C'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid8}" list_type="image_title" tab_type="none" widget_sequence="{$layout_info->so_widget+28}" widget_cache="1" markup_type="list" list_count="{$layout_info->ec_list8}" page_count="1" subject_cut_size="40" content_cut_size="200" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="240" thumbnail_height="140" />
										</block>
										<block cond="$layout_info->ec_style8=='D'">
										<img class="zbxe_widget_output" widget="doorweb_content" skin="sub" content_type="document" module_srls="{$layout_info->ec_mid8}" list_type="image_title_content" tab_type="none" widget_sequence="{$layout_info->so_widget+28}" widget_cache="1" markup_type="table" list_count="{$layout_info->ec_list8}" page_count="1" subject_cut_size="20" content_cut_size="35" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="80" thumbnail_height="60" />
										</block>
										<block cond="$layout_info->ec_style8=='E'">
										<img class="zbxe_widget_output" widget="treasurej_popular" skin="doorweb" tab_view="newestd,newestc" option_view="title" module_srls="{$layout_info->ec_mid8}" clist_count="{$layout_info->ec_list8}" list_count="{$layout_info->ec_list8}" subject_cut_size="40" comment_cut_size="40" />
										</block>
										<div cond="$layout_info->ec_widget8">{$layout_info->ec_widget8}</div>
									</div>
								</div>
							</div>